<!DOCTYPE html>
<html lang="en">
<div th:replace="/fragments/adminheader :: head"></div>
<div th:replace="/fragments/adminheader :: header"></div>
<div th:replace="/fragments/adminheader :: navbar"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <BR>
        <h1>Willkommen zur Shop-Administration</h1>
        <p>Hier finden Sie alle Funktionen zum Administrieren des Shops.</p>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>