/* ################################################# */
/*                                                   */
/*                      GENERAL                      */
/*                                                   */
/* ################################################# */

body {
  font-family: sans-serif;
}

main {
  padding: 50px;
}

h1, h3 {
  font-weight: 600;
  font-family: helvetica, sans-serif;
  margin-bottom: 1em;
  color: #334152;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

/* ################################################# */
/*                                                   */
/*                      HEADER                       */
/*                                                   */
/* ################################################# */

.header-title {
  padding: 50px;
  font-size: 30px;
  background-color: rgb(0, 155, 145);;
}

.header-title a {
  text-decoration: none;
  color: rgb(51, 65, 82);
}

nav {
  background-color: rgb(51, 65, 82);
  display: flex;
  padding-left: 30px;
}

.nav-item {
  padding: 20px;
  transition: background-color 500ms ease, color 500ms ease;
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(51, 65, 82);
  background-color: rgb(217, 229, 236);
}

#nav-cart {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s;
}

#shopping-cart-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* ################################################# */
/*                                                   */
/*                      FOOTER                       */
/*                                                   */
/* ################################################# */

footer {
  background-color: rgb(217, 229, 236);
}

/* ################################################# */
/*                                                   */
/*                      SUBPAGES                     */
/*                                                   */
/* ################################################# */

.order-wrapper form div {
  margin: 1em 0;
}

.order-wrapper form div label {
  display: inline-block;
  width: 12em;
}

.order-wrapper form div button {
  cursor: pointer;
  background-color: lightgray;
  border: none;
  padding: 1em;
  margin: 1em 0;
}

.catalog-wrapper .cards {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.catalog-wrapper article {
  position: relative;
  border: 1px solid black;
  background-color: lightgray;
  transition: background-color 500ms ease;
}

.catalog-wrapper article:hover {
  background-color: #f7f7f7
}

.catalog-wrapper article a {
  text-decoration: none;
  color: #334152;
  outline: 0;
}

.catalog-wrapper article .title {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
}

.catalog-wrapper article .artnr {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
}

.error-wrapper p {
  font-family: helvetica, sans-serif;
  margin-bottom: 1em;
  color: #334152;
  font-size: 2em;
  margin-top: -1em;
}