<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header :: head"></div>
<div th:replace="/fragments/header :: header"></div>
<div th:replace="/fragments/header :: navbar"></div>
<body>
<main class="order-wrapper">

  <h1>Your final order data:</h1>
  <form action="#" th:action="@{/submit-order}" th:object="${order}" method="POST">

    <h3>Personal data</h3>

    <input type="hidden" th:field="*{customerInfo.id}"/>
    <p>Email: <input type="text" th:field="*{customerInfo.email}"/></p>
    <p>First Name: <input type="text" th:field="*{customerInfo.firstname}"/></p>
    <p>Last Name: <input type="text" th:field="*{customerInfo.surname}"/></p>
    <p>Street & Housenumber: <input type="text" th:field="*{customerInfo.street}"/></p>
    <p>Post code: <input type="text" th:field="*{customerInfo.postcode}"/></p>
    <p>City: <input type="text" th:field="*{customerInfo.city}"/></p>
    <p>Country: <input type="text" th:field="*{customerInfo.isoCountryCode}"/></p>

    <hr>

    <h3>Your items</h3>

    <table>
      <thead>
      <tr>
        <td>Art-Nr</td>
        <td>Quantity</td>
        <td>price per item</td>
        <td>price total</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item, stat : *{orderItems}">
        <td><input type="text" th:field="*{orderItems[__${stat.index}__].productId}"/></td>
        <td><input type="text" th:field="*{orderItems[__${stat.index}__].quantity}"/></td>
        <td><input type="text" th:field="*{orderItems[__${stat.index}__].priceEuro}"/></td>
        <td><span th:text="${item.quantity * item.priceEuro}"></span></td>
      </tr>
      </tbody>
    </table>

    <hr>

    <p>Shipping costs (in Euro): <input th:field="*{costShipping}"/></p>

    <input type="hidden" th:field="*{costTotal.amount}"/>
    <input type="hidden" th:field="*{costTotal.currency}"/>

    <p>Total costs (in <span th:text="${order.costTotal.getCurrency()}"></span>):
      <span th:text="${order.costTotal.getAmount().toPlainString()}"></span></p>

    <input type="hidden" th:field="*{orderDate}"/>
    <button id="submit-order-verify" type="submit">Submit order</button>
    <button type="reset">Cancel</button>

  </form>

</main>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>