<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header :: navbar"></div>
<body>
<main class="order-wrapper">

  <h1>Ihre Bestellung</h1>
  <form action="#" th:action="@{/submit-order}" th:object="${order}" method="POST">

    <h3>Adresse</h3>

    <input type="hidden" th:field="*{customerInfo.id}"/>

    <div>
      <label th:for="customerInfo.email">E-Mail-Adresse</label>
      <input type="text" readonly th:field="*{customerInfo.email}"/>
    </div>
    <div>
      <label th:for="customerInfo.firstname">Vorname</label>
      <input type="text" readonly th:field="*{customerInfo.firstname}"/>
    </div>
    <div>
      <label th:for="customerInfo.surname">Nachname</label>
      <input type="text" readonly th:field="*{customerInfo.surname}"/>
    </div>
    <div>
      <label th:for="customerInfo.street">Straße und Hausnummer</label>
      <input readonly type="text" th:field="*{customerInfo.street}"/>
    </div>
    <div>
      <label th:for="customerInfo.postcode">Postleitzahl</label>
      <input type="text" readonly th:field="*{customerInfo.postcode}"/>
    </div>
    <div>
      <label th:for="customerInfo.city">Stadt</label>
      <input type="text" readonly th:field="*{customerInfo.city}"/>
    </div>
    <div>
      <label th:for="customerInfo.isoCountryCode">Land</label>
      <input type="text" readonly th:field="*{customerInfo.isoCountryCode}"/>
    </div>
    <hr>

    <h3>Ihre Artikel:</h3>

    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <td>Art-Nr</td>
        <td>Anzahl</td>
        <td>Einzelpreis</td>
        <td>Preis</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item, stat : *{orderItems}">
        <td><input type="text" readonly th:field="*{orderItems[__${stat.index}__].productId}"/></td>
        <td><input type="text" readonly th:field="*{orderItems[__${stat.index}__].quantity}"/></td>
        <td><input type="text" readonly th:field="*{orderItems[__${stat.index}__].priceEuro}"/></td>
        <td><input type="text" readonly th:value="${item.quantity * item.priceEuro}"/></td>
      </tr>
      </tbody>
    </table>

    <hr>

    <h3>Kosten</h3>

    <div>
      <label th:for="order.costShipping">Versandkosten (in Euro):</label>
      <input readonly type="text" th:field="*{costShipping}"/>
    </div>

    <div>
      <label>Gesamtpreis (in <span th:text="${order.costTotal.getCurrency()}">EURO</span>)
      </label>
      <input type="text" readonly th:value="${order.costTotal.getAmount().toPlainString()}"></input>
    </div>

    <hr>

    <h3>Bezahlung</h3>

    <div>
      <label th:for="order.paymentMethod">Payment method</label>
      <select required th:field="*{paymentMethod}">
        <option th:each="paymentMethodOption : ${paymentMethods}" th:value="${paymentMethodOption}"
                th:text="${paymentMethodOption}"></option>
      </select>
    </div>

    <hr>

    <input type="hidden" th:field="*{costTotal.amount}"/>
    <input type="hidden" th:field="*{costTotal.currency}"/>
    <input type="hidden" th:field="*{orderDate}"/>


    <div>
      <button type="button" onclick="cancelOrder()" class="btn btn-primary">Abbrechen</button>
      <button id="submit-order-verify" type="submit" class="btn btn-primary">Kostenpflichtig Bestellen</button>
    </div>

  </form>

</main>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>