<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: head"></div>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header :: navbar"></div>
<body>
<style>
    #nav-cart {
        background-color: rgb(217, 229, 236);
        color: rgb(51, 65, 82);
    }

    table td {
        vertical-align: top;
        border: solid 1px #888;
        padding: 10px;
    }

</style>

<main class="cart-wrapper">

    <div th:if="${#lists.isEmpty(shoppingCart.itemsInShoppingCart)}">
        <h5>Warenkorb is leer.</h5>
    </div>

    <div th:if="${not #lists.isEmpty(shoppingCart.itemsInShoppingCart)}">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Art-Nr</th>
                <th>Name</th>
                <th>Anzahl</th>
                <th>Anzahl ändern</th>
                <th>Einzelpreis</th>
                <th>Preis</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${shoppingCart.itemsInShoppingCart}">
                <td th:text="${item.product.id}" th:id="'product-id-' + ${item.product.id}">item.product.id</td>
                <td th:text="${item.product.name}">item.product.name</td>
                <td th:text="${item.quantity}" th:id="'quantity-' + ${item.product.id}">item.quantity</td>
                <td>
                    <button th:id="${item.product.id}" onClick="addItem(this.id)" class="btn btn-primary">+</button>
                    <button th:id="${item.product.id}" onClick="substractItem(this.id)" class="btn btn-primary">-</button>
                </td>
                <td th:text="${item.product.priceEuro}">item.product.priceEuro</td>
                <td>Gesamtpreis für Artikel</td>

                <td>
                    <button th:id="${item.product.id}" onClick="removeItem(this.id)" class="btn btn-primary">Artikel entfernen</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4>Zwischensumme: <span th:text="${shoppingCart.getCartTotalSumDiscount()}"></span>€</h4>
        <h4 th:if="${shoppingCart.isDiscount()}">Ihr Einkauf liegt über 100 €, Sie erhalten einen Rabatt von 5%!</h4>
        <button id="order-button" class="btn btn-primary">Zur Kasse</button>
    </div>

</main>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/cart.js"></script>

</body>
</html>